@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: #fff; /* Set background to white */
  color: #000; /* Set text color to black */
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
